GOODJOB_USERNAME=learner
GOODJOB_PASSWORD=replace-with-a-long-random-password
GOODJOB_DB_URL=jdbc:mysql://127.0.0.1:3306/goodjob_learning
GOODJOB_DB_USERNAME=goodjob
GOODJOB_DB_PASSWORD=replace-with-a-database-password
# GOODJOB_ALLOWED_ORIGIN=http://127.0.0.1:8080
# GOODJOB_BIND_ADDRESS=127.0.0.1
